{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "epr-regulator-frontend"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p><a href="/regulators/home" class="govuk-link">Regulator Dashboard</a></p>
      </div>
    </div>
  </div>

{% endblock %}
